<!-- <app-titulo [titulo]="titulo"></app-titulo> -->
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </button>
  </div>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newEventosForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input [ngClass]="{'is-invalid': newEventosForm.get('tema').errors && 
              newEventosForm.get('tema').touched }" formControlName="tema" type="text" class="form-control">
              <div class="invalid-feedback" *ngIf="newEventosForm.get('tema').hasError('required')">Tema obrigatório
              </div>
              <div class="invalid-feedback" *ngIf="newEventosForm.get('tema').hasError('minlength')">Minimo 4 caracteres
              </div>
              <div class="invalid-feedback" *ngIf="newEventosForm.get('tema').hasError('maxlength')">Maximo 30
                caracteres</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input formControlName="local" type="text" class="form-control"
                [ngClass]="{'is-invalid' : newEventosForm.get('local').errors && newEventosForm.get('local').touched}">
              <div class="invalid-feedback" *ngIf="newEventosForm.get('local').hasError('required')">Local obrigatório
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input bsDatepicker [bsConfig]="bsConfig"
                [ngClass]="{'is-invalid': newEventosForm.get('dataEvento').errors && newEventosForm.get('dataEvento').touched}"
                formControlName="dataEvento" type="text" class="form-control">
              <div class="invalid-feedback" *ngIf="newEventosForm.get('dataEvento').hasError('required')">Data e Hora
                obrigatório</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input
                [ngClass]="{'is-invalid' : newEventosForm.get('qtdPessoas').errors && newEventosForm.get('qtdPessoas').touched}"
                formControlName="qtdPessoas" type="text" class="form-control">
              <div class="invalid-feedback" *ngIf="newEventosForm.get('qtdPessoas').hasError('required')">Qtd
                obrigatória</div>
              <div class="invalid-feedback" *ngIf="newEventosForm.get('qtdPessoas').hasError('pattern')">Numero porra!
                😒</div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input formControlName="imagemURL" type="text" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input formControlName="telefone" type="text" class="form-control">
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input
                [ngClass]="{'is-invalid':  newEventosForm.get('email').errors && newEventosForm.get('email').touched}"
                formControlName="email" type="text" class="form-control">
              <div class="invalid-feedback" *ngIf="newEventosForm.get('email').hasError('required')">email obrigatório
              </div>
              <div class="invalid-feedback" *ngIf="newEventosForm.get('email').hasError('email')">email valido</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!newEventosForm.valid" (click)="salvarEventoForm(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<h3>Filtro: </h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th colspan="2">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img class="img-tabela" *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemURL}}">

      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | dateTimePipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <!-- <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarEvento(evento, template)"> -->
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarEvento(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEvento(evento, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <a [routerLink]="['/evento', evento.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>





<br>

<br>
<br>
<p>{{newEventosForm.value | json}}</p>
<p>{{newEventosForm.status | json}}</p>
